@using Suscito.Modules.AT
@inject IATQueryProvider QueryProvider

@if ((string.IsNullOrEmpty(Query)) || (QueryProvider.IsTrue(Query)))
{
	<div class="card">
		@if (!string.IsNullOrEmpty(Title))
		{
			<div class="card-title bg-dark bg-gradient text-light">
				@Title
			</div>
		}
		<div class="card-content">
			@ChildContent
		</div>
	</div>
}

@code {

	protected override void OnInitialized()
	{
		// If there is no title specified, try to get one based on the query
		if ((string.IsNullOrEmpty(Title)) && (!string.IsNullOrEmpty(Query)))
		{
			Title = QueryProvider.GetTitle(Query);
		}
	}

	/// <summary>
	/// Gets or sets any child content for the card.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// Gets or sets the query that must be true in order to show the content.
	/// </summary>
	[Parameter]
	public string? Query { get; set; }

	/// <summary>
	/// Gets or sets the title of the card.
	/// </summary>
	[Parameter]
	public string? Title { get; set; }
}
