.box {
	border-style: solid;
	border-width: 2px;
	border-radius: 3px;
	margin: 5px 10px 10px 5px;
	box-shadow: 5px 5px #00000070;
}

.box-title {
	background-color: #b2b2b2;
	color: #2e2e2e;
	text-shadow: -2px -2px 2px #FFFFFF;
	padding: 10px;
}

.box-content {
	padding: 10px;
}