@page "/empathy"

<h3>Empathy</h3>

<p>What is Empathy and why is it important?</p>

<VideoPlayer EmbedCode="KZBTYViDPlQ" />

<ATInfoBox>
    <ATInfoCard Query="UserAnxious">
        This is shown if the user is Anxious.
    </ATInfoCard>
    <ATInfoCard Query="PartnerAvoidant">
        This is shown if the partner is Avoidant.
    </ATInfoCard>
</ATInfoBox>


@code {

}
