@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<VideoPlayer EmbedCode="gKDnxtTCDv8" />

<SurveyPrompt Title="How is Blazor working for you?" />

<Box>
    <Title>
        Because you identified as <a href="shell://Counter">Avoidant</a>.
    </Title>
    <Content>
        This is in a box.
    </Content>
</Box>

Let's go <a href="shell://Counter">Counter</a>.